
# NBA 3-Point Statistics

## Table of Contents
1. [Introduction](#Introduction)
2. [Data Wrangling](#Data-Wrangling)
3. [New NBA Stats](#New-NBA-Stats)
4. [Rankings](#Rankings)
5. [Conclusion](#Conclusion)

## Introduction

There has never been a single metric to determine the best NBA 3-Point shooters. Most fans know the reality from watching the games. Since Steph Curry makes the most, and he shoots a very high percentage, he's widely considered the greatest 3-point shooter of all-time.

Objectively, most fans consider two numbers, 3-Point Percentage, and 3 Pointers Made. Antoine Walker made a ton of threes for Boston in the 90s, but he shot a very low percentage. Steve has the highest shooting percentage of all-time, but he took a very low volume of shots by today's standards.

Is there an empirical way to combine 3-point Percentage and 3-pointers Made into one statistic? Will the statistic verify that Steph Curry is the greatest 3-point shooter of all-time? What about the best 3-point shooting team of all-time?

To answer these questions, I develped 3-point Net Gain, 3PNG. This metric computes the number of points a team gains per possession when the player makes a 3-pointer, minus the number of points a team loses when the player misses a 3-pointer. This metric is evaluated based on the expected value of points on an average possession.

This Jupyter Notebook contains Exploratory Data Analysis of 3-point shooters throughout NBA History. Data Wrangling steps are included for those with an interest in learning pandas, Python's framework for data analysis. Those not interested in pandas can skip directly to [New NBA Stats](#New-NBA-Stats).


## Outline
    


#### References

https://www.kaggle.com/drgilermo/nba-players-stats <br>
https://www.basketball-reference.com/leagues/NBA_2018_totals.html

#### Copyright

Corey J Wade<br>
May 29, 2018

This Jupyter Notebook and the statistics within may be redistributed with credit given to the author, Corey J Wade.

## Data Wrangling

The following csv file is taken from https://www.kaggle.com/drgilermo/nba-players-stats. When I downloaded the file, it contained standard statistics through 2017. Dr. Guillermo scraped it from https://www.basketball-reference.com/.

#### NBA Stats Through 2017

In [207]:
# import pandas
import pandas as pd

# open file as dataframe, courtesy of Dr. Guillermo via Kaggle
df_2017 = pd.read_csv('Seasons_Stats.csv')

# display first five rows
df_2017.head()

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
1,1,1950.0,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,...,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
2,2,1950.0,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,NaN,...,0.698,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0
3,3,1950.0,Ed Bartels,F,24.0,TOT,15.0,NaN,NaN,NaN,...,0.559,NaN,NaN,NaN,20.0,NaN,NaN,NaN,29.0,63.0
4,4,1950.0,Ed Bartels,F,24.0,DNN,13.0,NaN,NaN,NaN,...,0.548,NaN,NaN,NaN,20.0,NaN,NaN,NaN,27.0,59.0

Statistics were not widely computed before the modern era, hence the null values. Also, the 3-point shot did not exist before 1979, so we can start there.

In [208]:
# delete unnecessary column
del df_2017['Unnamed: 0']

# only select years after 1979
df_2017 = df[df['Year']>=1979]

# display last five rows
df_2017.tail()

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
24686,24686,2017.0,Cody Zeller,PF,24.0,CHO,62.0,58.0,1725.0,16.7,...,0.679,135.0,270.0,405.0,99.0,62.0,58.0,65.0,189.0,639.0
24687,24687,2017.0,Tyler Zeller,C,27.0,BOS,51.0,5.0,525.0,13.0,...,0.564,43.0,81.0,124.0,42.0,7.0,21.0,20.0,61.0,178.0
24688,24688,2017.0,Stephen Zimmerman,C,20.0,ORL,19.0,0.0,108.0,7.3,...,0.600,11.0,24.0,35.0,4.0,2.0,5.0,3.0,17.0,23.0
24689,24689,2017.0,Paul Zipser,SF,22.0,CHI,44.0,18.0,843.0,6.9,...,0.775,15.0,110.0,125.0,36.0,15.0,16.0,40.0,78.0,240.0
24690,24690,2017.0,Ivica Zubac,C,19.0,LAL,38.0,11.0,609.0,17.0,...,0.653,41.0,118.0,159.0,30.0,14.0,33.0,30.0,66.0,284.0

As expected, all visible columns are full of data.

#### 2018 NBA Stats

The 2018 NBA season recently finished. I used the same link, https://www.basketball-reference.com/, to scrape the 2018 statistics.

In [209]:
# read html file
df_2018, = pd.read_html("https://www.basketball-reference.com/leagues/NBA_2018_totals.html", header=0)

# convert to csv file
df_2018.to_csv("tp_2016.csv", index=False)

# display first five rows
df_2018.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Alex Abrines,SG,24,OKC,75,8,1134,115,291,...,.848,26,88,114,28,38,8,25,124,353
1,2,Quincy Acy,PF,27,BRK,70,8,1359,130,365,...,.817,40,216,256,57,33,29,60,149,411
2,3,Steven Adams,C,24,OKC,76,76,2487,448,712,...,.557,384,301,685,88,92,78,128,215,1056
3,4,Bam Adebayo,C,20,MIA,69,19,1368,174,340,...,.721,118,263,381,101,32,41,66,138,477
4,5,Arron Afflalo,SG,32,ORL,53,3,682,65,162,...,.846,4,62,66,30,4,9,21,56,179

Since there is no column for year, I will add one.

In [210]:
# delete unnecessary column
del df_2018['Rk']

# add column for year, place at index 0
df_2018.insert(0, 'Year', 2018.0)

# display last five rows
df_2018.tail()

,Year,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
685,2018.0,Tyler Zeller,C,28,BRK,42,33,703,125,229,...,.667,63,131,194,28,8,21,35,78,300
686,2018.0,Tyler Zeller,C,28,MIL,24,1,406,62,105,...,.895,47,64,111,19,7,14,12,48,141
687,2018.0,Paul Zipser,SF,23,CHI,54,12,824,81,234,...,.731,13,118,131,46,20,15,43,86,218
688,2018.0,Ante Zizic,C,21,CLE,32,2,214,49,67,...,.724,24,36,60,5,2,13,11,30,119
689,2018.0,Ivica Zubac,C,20,LAL,43,0,410,61,122,...,.765,45,78,123,25,8,15,26,47,161

#### Concatenating Dataframes

Since the dataframes have a different number of columns, and I clearly do not need all of the columns since my focus is on 3-pointers, I will select the relevant columns before concatenating.

In [211]:
# select relevant columns
tp_2017 = df_2017[['Year', 'Tm', 'Player', 'G','MP', 'PTS', '3P', '3PA', '3P%']]
tp_2018 = df_2018[['Year', 'Tm', 'Player', 'G','MP', 'PTS', '3P', '3PA', '3P%']]

# concatenate dataframes
tp = pd.concat([tp_2017, tp_2018], ignore_index=True, )

# show last five rows
tp.tail()

         Year   Tm        Player   G   MP  PTS  3P  3PA   3P%
19956  2018.0  BRK  Tyler Zeller  42  703  300  10   26  .385
19957  2018.0  MIL  Tyler Zeller  24  406  141   0    2  .000
19958  2018.0  CHI   Paul Zipser  54  824  218  37  110  .336
19959  2018.0  CLE    Ante Zizic  32  214  119   0    0   NaN
19960  2018.0  LAL   Ivica Zubac  43  410  161   0    1  .000

#### Column Consistency

In [212]:
# display column info
tp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19961 entries, 0 to 19960
Data columns (total 9 columns):
Year      19961 non-null float64
Tm        19961 non-null object
Player    19961 non-null object
G         19961 non-null object
MP        19961 non-null object
PTS       19961 non-null object
3P        19617 non-null object
3PA       19617 non-null object
3P%       16041 non-null object
dtypes: float64(1), object(8)
memory usage: 1.4+ MB

With the exception of 'Year', the data has not been rendered as numbers. They must be converted to floats for mathematical operations.

In [213]:
# convert numeric columns to decimals
tp.G = pd.to_numeric(tp.G, errors='coerce')
tp.MP = pd.to_numeric(tp.MP, errors='coerce')
tp.PTS = pd.to_numeric(tp.PTS, errors='coerce')
tp['3P'] = pd.to_numeric(tp['3P'], errors='coerce')
tp['3PA'] = pd.to_numeric(tp['3PA'], errors='coerce')
tp['3P%'] = pd.to_numeric(tp['3P%'], errors='coerce')

# check columns
tp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19961 entries, 0 to 19960
Data columns (total 9 columns):
Year      19961 non-null float64
Tm        19961 non-null object
Player    19961 non-null object
G         19935 non-null float64
MP        19935 non-null float64
PTS       19935 non-null float64
3P        19591 non-null float64
3PA       19591 non-null float64
3P%       16015 non-null float64
dtypes: float64(7), object(2)
memory usage: 1.4+ MB

#### Minimum Requirements

It's not necessary to examine data from all players. For instance, if a player was never recorded as taking a 3-pointer, he should be excluded from the dataframe. The same holds for a player who only took one 3-pointer and made it. The purpose of the minimum requirements is to eliminate non-3-point shooters and very low outliers. Note that my minimum requirements are less stringent than many other NBA "qualified" statistics online.

In [214]:
# choose players with more than 20 3's
tp = tp[(tp['3P'] > 20)]

# chosee players with more than 320 mintes played
tp = tp[(tp['MP'] > 320)]

# choose players with at least 41 games
tp = tp[(tp['G'] > 41)]

# display last 5 rows
tp.tail()

         Year   Tm          Player     G      MP    PTS     3P    3PA    3P%
19948  2018.0  TOR    Delon Wright  69.0  1433.0  555.0   56.0  153.0  0.366
19951  2018.0  IND       Joe Young  53.0   558.0  207.0   25.0   66.0  0.379
19952  2018.0  GSW      Nick Young  80.0  1393.0  581.0  123.0  326.0  0.377
19953  2018.0  IND  Thaddeus Young  81.0  2607.0  955.0   58.0  181.0  0.320
19958  2018.0  CHI     Paul Zipser  54.0   824.0  218.0   37.0  110.0  0.336

In [215]:
tp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5036 entries, 354 to 19958
Data columns (total 9 columns):
Year      5036 non-null float64
Tm        5036 non-null object
Player    5036 non-null object
G         5036 non-null float64
MP        5036 non-null float64
PTS       5036 non-null float64
3P        5036 non-null float64
3PA       5036 non-null float64
3P%       5036 non-null float64
dtypes: float64(7), object(2)
memory usage: 393.4+ KB

Now all the columns have the same number of rows.

#### Points Per Possession

The last piece of Data Wrangling is points per possession. It will be used to compute the expected value of points each time a team has the ball. I obtained the team ratings through NBA history at https://www.basketball-reference.com/leagues/NBA_stats.html.

In [216]:
# read html file
df_teams, = pd.read_html("https://www.basketball-reference.com/leagues/NBA_stats.html", header=0)

# display first five rows
df_teams.drop(df_teams.index[0], inplace=True)

df_teams.head()

,Unnamed: 0,Unnamed: 1,Per Game,Shooting,Advanced,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31
1,1,2017-18,NBA,26.4,6-7,218,1230,241.4,39.6,86.1,...,106.3,.460,.362,.767,97.3,.521,13.0,22.3,.193,108.6
2,2,2016-17,NBA,26.6,6-7,220,1230,241.6,39.0,85.4,...,105.6,.457,.358,.772,96.4,.514,12.7,23.3,.209,108.8
3,3,2015-16,NBA,26.7,6-7,221,1230,241.8,38.2,84.6,...,102.7,.452,.354,.757,95.8,.502,13.2,23.8,.209,106.4
4,4,2014-15,NBA,26.7,6-7,222,1230,242.0,37.5,83.6,...,100.0,.449,.350,.750,93.9,.496,13.3,25.1,.205,105.6
5,5,2013-14,NBA,26.5,6-7,223,1230,242.0,37.7,83.0,...,101.0,.454,.360,.756,93.9,.501,13.6,25.5,.215,106.6

In [217]:
# choose relevant columns
df_PPP = df_teams[['Unnamed: 1','Unnamed: 31']]

# rename columns
df_PPP.columns = ['Year', 'PPP']

# show first give rows
df_PPP.head()

      Year    PPP
1  2017-18  108.6
2  2016-17  108.8
3  2015-16  106.4
4  2014-15  105.6
5  2013-14  106.6

In [218]:
df_PPP.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 78 entries, 1 to 78
Data columns (total 2 columns):
Year    75 non-null object
PPP     48 non-null object
dtypes: object(2)
memory usage: 1.8+ KB

In [219]:
# convert year column to year listed before the hyphen
df_PPP['Year'] = df_PPP['Year'].str.split('-').str[0]

# convert columns to numbers
df_PPP['Year'] = pd.to_numeric(df_PPP['Year'], errors='coerce')
df_PPP['PPP'] = pd.to_numeric(df_PPP['PPP'], errors='coerce')

# drop NaN values
df_PPP = df_PPP.dropna()

df_PPP

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

      Year    PPP
1   2017.0  108.6
2   2016.0  108.8
3   2015.0  106.4
4   2014.0  105.6
5   2013.0  106.6
6   2012.0  105.8
7   2011.0  104.6
8   2010.0  107.3
9   2009.0  107.6
10  2008.0  108.3
11  2007.0  107.5
12  2006.0  106.5
13  2005.0  106.2
14  2004.0  106.1
15  2003.0  102.9
16  2002.0  103.6
17  2001.0  104.5
18  2000.0  103.0
19  1999.0  104.1
20  1998.0  102.2
23  1997.0  105.0
24  1996.0  106.7
25  1995.0  107.6
26  1994.0  108.3
27  1993.0  106.3
28  1992.0  108.0
29  1991.0  108.2
30  1990.0  107.9
31  1989.0  108.1
32  1988.0  107.8
33  1987.0  108.0
34  1986.0  108.3
35  1985.0  107.2
36  1984.0  107.9
37  1983.0  107.6
38  1982.0  104.7
39  1981.0  106.9
40  1980.0  105.5
41  1979.0  105.3
42  1978.0  103.8
45  1977.0  100.9
46  1976.0   99.5
47  1975.0   98.3
48  1974.0   97.7
49  1973.0   97.7

This is exactly what I want except for one minor issues. NBA year are usually evaluated at the end of the year, not the beginning. I need to add one to each row in the 'Year' column.

In [220]:
# add 1 to each year to match tp dataframe
df_PPP['Year'] = df_PPP['Year'] + 1

# show first five entries
df_PPP.head()

     Year    PPP
1  2018.0  108.6
2  2017.0  108.8
3  2016.0  106.4
4  2015.0  105.6
5  2014.0  106.6

## New NBA Stats

### Expected Minutes

This first group of statistics computes the number of minutes players are on the court before attemping and making 3's.

#### 1) AM3A : Average Minutes per 3-point Attempt

A player's Average Minutes per 3-Point Attempt is total minutes played divided by total 3-pointers attempted.

In [221]:
# define new column, AM3A: Average Minutes per 3-point Attempt 
tp['AM3A'] = tp['MP'] / tp['3PA']

# show last five entrants
tp.tail()

,Year,Tm,Player,G,MP,PTS,3P,3PA,3P%,AM3A
19948,2018.0,TOR,Delon Wright,69.0,1433.0,555.0,56.0,153.0,0.366,9.366013
19951,2018.0,IND,Joe Young,53.0,558.0,207.0,25.0,66.0,0.379,8.454545
19952,2018.0,GSW,Nick Young,80.0,1393.0,581.0,123.0,326.0,0.377,4.273006
19953,2018.0,IND,Thaddeus Young,81.0,2607.0,955.0,58.0,181.0,0.320,14.403315
19958,2018.0,CHI,Paul Zipser,54.0,824.0,218.0,37.0,110.0,0.336,7.490909

#### 2) EM3A : Expected Minutes before 3-point Attempt

The expected value of a continuous interval of time is typically at the halfway mark. Will Nick Young (listed above) take a 3 once he checks in, or after 4.27 minutes? His most likely value is halfway between, at 2.135 minutes. This is his expected minutes played before attempting a 3.

In [222]:
# define new column, EM3A: Expected Minutes before 3-point Attempt
tp['EM3A'] = tp['AM3A'] / 2

# sort dataframe by new category
tp_EM3A = tp.sort_values('EM3A', ascending=True)

# view players who attempt 3s faster than anyone in NBA history
tp_EM3A.head(20)

,Year,Tm,Player,G,MP,PTS,3P,3PA,3P%,AM3A,EM3A
19859,2018.0,ORL,Marreese Speights,52.0,675.0,402.0,86.0,233.0,0.369,2.896996,1.448498
19699,2018.0,TOR,C.J. Miles,70.0,1337.0,699.0,164.0,454.0,0.361,2.944934,1.472467
18214,2016.0,GSW,Stephen Curry,79.0,2700.0,2375.0,402.0,886.0,0.454,3.047404,1.523702
18045,2015.0,DAL,Charlie Villanueva,64.0,678.0,403.0,83.0,221.0,0.376,3.067873,1.533937
19422,2018.0,GSW,Stephen Curry,51.0,1631.0,1346.0,212.0,501.0,0.423,3.255489,1.627745
18797,2017.0,MEM,Troy Daniels,67.0,1183.0,551.0,138.0,355.0,0.389,3.332394,1.666197
18796,2017.0,GSW,Stephen Curry,79.0,2638.0,1999.0,324.0,789.0,0.411,3.343473,1.671736
17584,2015.0,TOT,Troy Daniels,47.0,397.0,176.0,43.0,118.0,0.364,3.364407,1.682203
18870,2017.0,HOU,Eric Gordon,75.0,2323.0,1217.0,246.0,661.0,0.372,3.514372,1.757186
19710,2018.0,CHO,Malik Monk,63.0,854.0,421.0,83.0,243.0,0.342,3.514403,1.757202
19454,2018.0,MIA,Wayne Ellington,77.0,2041.0,864.0,227.0,579.0,0.392,3.525043,1.762522
19512,2018.0,HOU,James Harden,72.0,2551.0,2191.0,265.0,722.0,0.367,3.533241,1.766620
19424,2018.0,PHO,Troy Daniels,79.0,1622.0,703.0,183.0,458.0,0.400,3.541485,1.770742
19495,2018.0,HOU,Eric Gordon,69.0,2154.0,1243.0,218.0,608.0,0.359,3.542763,1.771382
16089,2012.0,NYK,Steve Novak,54.0,1020.0,477.0,133.0,282.0,0.472,3.617021,1.808511
13811,2008.0,DEN,J.R. Smith,74.0,1421.0,907.0,157.0,390.0,0.403,3.643590,1.821795
18605,2016.0,PHO,Mirza Teletovic,79.0,1686.0,965.0,181.0,460.0,0.393,3.665217,1.832609
1190,1982.0,GSW,Joe Hassett,68.0,787.0,390.0,71.0,214.0,0.332,3.677570,1.838785
19264,2017.0,LAL,Nick Young,60.0,1556.0,791.0,170.0,421.0,0.404,3.695962,1.847981
19189,2017.0,MIL,Mirza Teletovic,70.0,1133.0,451.0,104.0,305.0,0.341,3.714754,1.857377

Statistical Notes<ul>
    <li> Many players on the list come off the bench. EM3A does not distinguish between starters and reserves.</li>
    <li> Most top performers are from the last few years, due to the meteoric rise of NBA 3-pointers. </li>
     <li> Joe Hassett from 1982 is a shocker. </li>
    </ul>

#### 3) AM3P : Average Minutes per 3-Pointer

AMP3 is the player's total minutes divided by the number of 3-pointers made. This statistic is more interesting because we are now looking at makes instead of just attempts.

In [223]:
# define new column, AM3P: Average Minutes per 3-pointer
tp['AM3P'] = tp['MP']/tp['3P']

# show last five rows
tp.tail()

,Year,Tm,Player,G,MP,PTS,3P,3PA,3P%,AM3A,EM3A,AM3P
19948,2018.0,TOR,Delon Wright,69.0,1433.0,555.0,56.0,153.0,0.366,9.366013,4.683007,25.589286
19951,2018.0,IND,Joe Young,53.0,558.0,207.0,25.0,66.0,0.379,8.454545,4.227273,22.320000
19952,2018.0,GSW,Nick Young,80.0,1393.0,581.0,123.0,326.0,0.377,4.273006,2.136503,11.325203
19953,2018.0,IND,Thaddeus Young,81.0,2607.0,955.0,58.0,181.0,0.320,14.403315,7.201657,44.948276
19958,2018.0,CHI,Paul Zipser,54.0,824.0,218.0,37.0,110.0,0.336,7.490909,3.745455,22.270270

#### 4) EMB3 : Expected Minutes Before a 3

This is the best statistic of the group. It's how long a player is expected to be on the court before making a 3. As before, Average Minutes per 3-pointer is simply divided by two.

In [224]:
# define new column, EM3P: Expected Minutes before 3-pointer
tp['EM3P'] = tp['AM3P'] / 2

# sort dataframe by new category
tp_EM3P = tp.sort_values('EM3P', ascending=True)

# display top twenty seasons of all-time
tp_EM3P.head(20)

,Year,Tm,Player,G,MP,PTS,3P,3PA,3P%,AM3A,EM3A,AM3P,EM3P
18214,2016.0,GSW,Stephen Curry,79.0,2700.0,2375.0,402.0,886.0,0.454,3.047404,1.523702,6.716418,3.358209
16089,2012.0,NYK,Steve Novak,54.0,1020.0,477.0,133.0,282.0,0.472,3.617021,1.808511,7.669173,3.834586
19422,2018.0,GSW,Stephen Curry,51.0,1631.0,1346.0,212.0,501.0,0.423,3.255489,1.627745,7.693396,3.846698
19859,2018.0,ORL,Marreese Speights,52.0,675.0,402.0,86.0,233.0,0.369,2.896996,1.448498,7.848837,3.924419
18215,2016.0,CHO,Troy Daniels,43.0,476.0,242.0,59.0,122.0,0.484,3.901639,1.950820,8.067797,4.033898
18796,2017.0,GSW,Stephen Curry,79.0,2638.0,1999.0,324.0,789.0,0.411,3.343473,1.671736,8.141975,4.070988
19699,2018.0,TOR,C.J. Miles,70.0,1337.0,699.0,164.0,454.0,0.361,2.944934,1.472467,8.152439,4.076220
18045,2015.0,DAL,Charlie Villanueva,64.0,678.0,403.0,83.0,221.0,0.376,3.067873,1.533937,8.168675,4.084337
18797,2017.0,MEM,Troy Daniels,67.0,1183.0,551.0,138.0,355.0,0.389,3.332394,1.666197,8.572464,4.286232
19424,2018.0,PHO,Troy Daniels,79.0,1622.0,703.0,183.0,458.0,0.400,3.541485,1.770742,8.863388,4.431694
19454,2018.0,MIA,Wayne Ellington,77.0,2041.0,864.0,227.0,579.0,0.392,3.525043,1.762522,8.991189,4.495595
13811,2008.0,DEN,J.R. Smith,74.0,1421.0,907.0,157.0,390.0,0.403,3.643590,1.821795,9.050955,4.525478
17582,2015.0,GSW,Stephen Curry,80.0,2613.0,1900.0,286.0,646.0,0.443,4.044892,2.022446,9.136364,4.568182
19264,2017.0,LAL,Nick Young,60.0,1556.0,791.0,170.0,421.0,0.404,3.695962,1.847981,9.152941,4.576471
15230,2011.0,OKC,Daequan Cook,43.0,598.0,239.0,65.0,154.0,0.422,3.883117,1.941558,9.200000,4.600000
17584,2015.0,TOT,Troy Daniels,47.0,397.0,176.0,43.0,118.0,0.364,3.364407,1.682203,9.232558,4.616279
18605,2016.0,PHO,Mirza Teletovic,79.0,1686.0,965.0,181.0,460.0,0.393,3.665217,1.832609,9.314917,4.657459
18870,2017.0,HOU,Eric Gordon,75.0,2323.0,1217.0,246.0,661.0,0.372,3.514372,1.757186,9.443089,4.721545
19631,2018.0,CLE,Kyle Korver,73.0,1574.0,672.0,164.0,376.0,0.436,4.186170,2.093085,9.597561,4.798780
19512,2018.0,HOU,James Harden,72.0,2551.0,2191.0,265.0,722.0,0.367,3.533241,1.766620,9.626415,4.813208

EM3P Statistical Notes:<ul>
    <li> EMB3, like 3-Point Percentage, levels the playing field between starters and reserves.</li> 
    <li> More restrictive minimum requirements would eliminate many players from this list. </li>
     <li> Steph Curry's legendary 2016 MVP season is a clear # 1. </li>
    </ul>

### 3-Point Average

Although the 3-point statistics above are compelling, they do not a provide a single metric to rank 3-point shooters. This is where 3-point Advantage comes in. Simply put, 3-Point Advantage adds the net gain per 3-pointer made, and subtracts the net loss per 3-pointer missed.

#### Points Per Possession

Computing net gain and net loss depends on the expected value. Should the expected value be points per possession? Or points per field goal attempt? There is no clear answer. I have decided to utilize the strategy of points per possession. To level the rankings, I will use the mean average of points per possession throughout NBA history. Note that this statistic was first computed in 1974.

In [225]:
ev = df_PPP['PPP'].mean()/100
print(ev)

1.055422222222222

#### Computation

The computation is determined by expected value. When a player makes a 3-pointer, the team gains more than the expected value. How much more? An additional 3 points minus the expected value. When a player misses a 3-pointer, the team does worse than the expected value. How much worse? They lose the expected value.

In [226]:
# 3PAd, 3-Point Advantage

# Compute 3PG, 3-pointers per Game
tp['3PG']=tp['3P']/tp['G']

# Compute 3PAG, 3-point Attempts per Game
tp['3PAG']= tp['3PA']/tp['G']

# Compute 3PMi, 3-point Misses per Game
tp['3PMiG']=tp['3PAG']-tp['3PG']

# Declare expected value
ev = df_PPP['PPP'].mean()/100
                          
# Compute 3PAd, 3-point Advantage
tp['3PAd']=tp['3PG'] * (3 - ev) - tp['3PMiG'] * ev

# (3 - ev) is how much the team gains per 3-pointer made
# -ev is how much the team loses per 3-pointer missed

#### Weighted

It's nice to use the same measure, the mean points per possession, across all years. But is it really justifiable? Teams score more points per possession these days, so it could be argued that a 3-point shot is slightly less valuable than in years past. The expected value can be weighted, by taking the mean points per possession for each year. By changing the expected value, we have a different basis of comparison.

In [227]:
# merge df_PPP, dataframe including 'Year' and 'PPP', with tp
tpw = tp.merge(df_PPP)

# Declare weighed expected value
evw = tpw['PPP']/100
                          
# Compute 3PAd, 3-point Advantage
tpw['3PAd/w']=tpw['3PG'] * (3 - evw) - tpw['3PMiG'] * evw

In [228]:
# merge df_PPP, dataframe including 'Year' and 'PPP', with tp
tp = tp.merge(df_PPP)

# Declare weighed expected value
evw = tp['PPP']/100
                          
# Compute 3PAd, 3-point Advantage
tp['3PAd/w']=tp['3PG'] * (3 - evw) - tp['3PMiG'] * evw

## Rankings

#### Top 40 Seasons

First, let's consider unweighted.

In [229]:
# sort dataframe by 3PAd
tp=tp.sort_values('3PAd', ascending=False)

# reset index
tp = tp.reset_index(drop=True)

# start index at 1 instead of 0
tp.index = tp.index + 1

In [230]:
# Display top 40 3-point shooting seasons of all-time
tp.head(40)

,Year,Tm,Player,G,MP,PTS,3P,3PA,3P%,AM3A,EM3A,AM3P,EM3P,3PG,3PAG,3PMiG,3PAd,PPP,3PAd/w
1,2016.0,GSW,Stephen Curry,79.0,2700.0,2375.0,402.0,886.0,0.454,3.047404,1.523702,6.716418,3.358209,5.088608,11.215190,6.126582,3.429062,106.4,3.332861
2,2015.0,ATL,Kyle Korver,75.0,2418.0,911.0,221.0,449.0,0.492,5.385301,2.692650,10.941176,5.470588,2.946667,5.986667,3.040000,2.521539,105.6,2.518080
3,2013.0,GSW,Stephen Curry,78.0,2983.0,1786.0,272.0,600.0,0.453,4.971667,2.485833,10.966912,5.483456,3.487179,7.692308,4.205128,2.342906,105.8,2.323077
4,2015.0,GSW,Stephen Curry,80.0,2613.0,1900.0,286.0,646.0,0.443,4.044892,2.022446,9.136364,4.568182,3.575000,8.075000,4.500000,2.202466,105.6,2.197800
5,2018.0,GSW,Stephen Curry,51.0,1631.0,1346.0,212.0,501.0,0.423,3.255489,1.627745,7.693396,3.846698,4.156863,9.823529,5.666667,2.102617,108.6,1.802235
6,2016.0,LAC,J.J. Redick,75.0,2097.0,1226.0,200.0,421.0,0.475,4.980998,2.490499,10.485000,5.242500,2.666667,5.613333,2.946667,2.075563,106.4,2.027413
7,2014.0,ATL,Kyle Korver,71.0,2408.0,850.0,185.0,392.0,0.472,6.142857,3.071429,13.016216,6.508108,2.605634,5.521127,2.915493,1.989782,106.6,1.931380
8,1997.0,CHH,Glen Rice,79.0,3362.0,2115.0,207.0,440.0,0.470,7.640909,3.820455,16.241546,8.120773,2.620253,5.569620,2.949367,1.982459,106.7,1.917975
9,2018.0,GSW,Klay Thompson,73.0,2506.0,1461.0,229.0,520.0,0.440,4.819231,2.409615,10.943231,5.471616,3.136986,7.123288,3.986301,1.892883,108.6,1.675068
10,2002.0,MIL,Ray Allen,69.0,2525.0,1503.0,229.0,528.0,0.434,4.782197,2.391098,11.026201,5.513100,3.318841,7.652174,4.333333,1.880247,104.5,1.960000
11,2012.0,NYK,Steve Novak,54.0,1020.0,477.0,133.0,282.0,0.472,3.617021,1.808511,7.669173,3.834586,2.462963,5.222222,2.759259,1.877240,104.6,1.926444
12,2015.0,GSW,Klay Thompson,77.0,2455.0,1668.0,239.0,545.0,0.439,4.504587,2.252294,10.271967,5.135983,3.103896,7.077922,3.974026,1.841492,105.6,1.837403
13,2008.0,NOH,Peja Stojakovic,77.0,2711.0,1263.0,231.0,524.0,0.441,5.173664,2.586832,11.735931,5.867965,3.000000,6.805195,3.805195,1.817646,107.5,1.684416
14,2016.0,GSW,Klay Thompson,80.0,2666.0,1771.0,276.0,650.0,0.425,4.101538,2.050769,9.659420,4.829710,3.450000,8.125000,4.675000,1.774694,106.4,1.705000
15,2017.0,GSW,Stephen Curry,79.0,2638.0,1999.0,324.0,789.0,0.411,3.343473,1.671736,8.141975,4.070988,4.101266,9.987342,5.886076,1.762935,108.8,1.437570
16,2013.0,ATL,Kyle Korver,74.0,2259.0,810.0,189.0,414.0,0.457,5.456522,2.728261,11.952381,5.976190,2.554054,5.594595,3.040541,1.757503,105.8,1.743081
17,1995.0,PHI,Dana Barros,82.0,3318.0,1686.0,197.0,425.0,0.464,7.807059,3.903529,16.842640,8.421320,2.402439,5.182927,2.780488,1.737141,108.3,1.594207
18,2014.0,GSW,Stephen Curry,78.0,2846.0,1873.0,261.0,615.0,0.424,4.627642,2.313821,10.904215,5.452107,3.346154,7.884615,4.538462,1.716863,106.6,1.633462
19,2005.0,PHO,Joe Johnson,82.0,3240.0,1400.0,177.0,370.0,0.478,8.756757,4.378378,18.305085,9.152542,2.158537,4.512195,2.353659,1.713339,106.1,1.688171
20,1996.0,ORL,Dennis Scott,82.0,3041.0,1431.0,267.0,628.0,0.425,4.842357,2.421178,11.389513,5.694757,3.256098,7.658537,4.402439,1.685303,107.6,1.527707
21,2004.0,SAC,Peja Stojakovic,81.0,3264.0,1964.0,240.0,554.0,0.433,5.891697,2.945848,13.600000,6.800000,2.962963,6.839506,3.876543,1.670322,102.9,1.851037
22,2008.0,PHO,Steve Nash,81.0,2780.0,1371.0,179.0,381.0,0.470,7.296588,3.648294,15.530726,7.765363,2.209877,4.703704,2.493827,1.665236,107.5,1.573148
23,1996.0,WSB,Tim Legler,77.0,1775.0,726.0,128.0,245.0,0.522,7.244898,3.622449,13.867188,6.933594,1.662338,3.181818,1.519481,1.628851,107.6,1.563377
24,1996.0,SAC,Mitch Richmond*,81.0,2946.0,1872.0,225.0,515.0,0.437,5.720388,2.860194,13.093333,6.546667,2.777778,6.358025,3.580247,1.622933,107.6,1.492099
25,2017.0,TOT,Kyle Korver,67.0,1753.0,678.0,162.0,359.0,0.451,4.883008,2.441504,10.820988,5.410494,2.417910,5.358209,2.940299,1.598559,108.8,1.424000
26,1989.0,SEA,Dale Ellis,82.0,3190.0,2253.0,162.0,339.0,0.478,9.410029,4.705015,19.691358,9.845679,1.975610,4.134146,2.158537,1.563559,107.8,1.470220
27,2017.0,GSW,Klay Thompson,78.0,2649.0,1742.0,268.0,647.0,0.414,4.094281,2.047141,9.884328,4.942164,3.435897,8.294872,4.858974,1.553100,108.8,1.282872
28,2012.0,BOS,Ray Allen,46.0,1565.0,655.0,106.0,234.0,0.453,6.688034,3.344017,14.764151,7.382075,2.304348,5.086957,2.782609,1.544157,104.6,1.592087
29,2014.0,DAL,Jose Calderon,81.0,2468.0,925.0,191.0,425.0,0.449,5.807059,2.903529,12.921466,6.460733,2.358025,5.246914,2.888889,1.536365,106.6,1.480864
30,2007.0,MIA,Jason Kapono,67.0,1767.0,730.0,108.0,210.0,0.514,8.414286,4.207143,16.361111,8.180556,1.611940,3.134328,1.522388,1.527781,106.5,1.497761
31,2005.0,MIA,Damon Jones,82.0,2576.0,955.0,225.0,521.0,0.432,4.944338,2.472169,11.448889,5.724444,2.743902,6.353659,3.609756,1.525915,106.1,1.490476
32,2006.0,PHO,Raja Bell,79.0,2959.0,1162.0,197.0,446.0,0.442,6.634529,3.317265,15.020305,7.510152,2.493671,5.645570,3.151899,1.522553,106.2,1.485418
33,2006.0,SEA,Ray Allen,78.0,3022.0,1955.0,269.0,653.0,0.412,4.627871,2.313936,11.234201,5.617100,3.448718,8.371795,4.923077,1.510375,106.2,1.455308
34,1997.0,IND,Reggie Miller*,81.0,2966.0,1751.0,229.0,536.0,0.427,5.533582,2.766791,12.951965,6.475983,2.827160,6.617284,3.790123,1.497453,106.7,1.420840
35,2015.0,LAC,J.J. Redick,78.0,2409.0,1277.0,200.0,458.0,0.437,5.259825,2.629913,12.045000,6.022500,2.564103,5.871795,3.307692,1.495085,105.6,1.491692
36,2018.0,UTA,Joe Ingles,82.0,2578.0,940.0,204.0,464.0,0.440,5.556034,2.778017,12.637255,6.318627,2.487805,5.658537,3.170732,1.491269,108.6,1.318244
37,2015.0,NOP,Eric Gordon,61.0,2018.0,818.0,141.0,315.0,0.448,6.406349,3.203175,14.312057,7.156028,2.311475,5.163934,2.852459,1.484295,105.6,1.481311
38,2009.0,IND,Troy Murphy,73.0,2482.0,1041.0,161.0,358.0,0.450,6.932961,3.466480,15.416149,7.708075,2.205479,4.904110,2.698630,1.440532,108.3,1.305288
39,2017.0,TOR,Kyle Lowry,60.0,2244.0,1344.0,193.0,468.0,0.412,4.794872,2.397436,11.626943,5.813472,3.216667,7.800000,4.583333,1.417707,108.8,1.163600
40,1996.0,CHI,Steve Kerr,82.0,1919.0,688.0,122.0,237.0,0.515,8.097046,4.048523,15.729508,7.864754,1.487805,2.890244,1.402439,1.412987,107.6,1.353512

3PAd Statistical Notes:<ul>
    <li> Steph Curry's legendary MVP season is heads and shoulders above the rest, and he dominates the list.</li> 
    <li> The metric does an adequate job of comparing 3-point shooters over the years. </li>
     <li> Different expected values will produce different lists. </li>
    <li> The metric has real meaning. It conveys the points a team gains per game by the player shooting 3-pointers. </li>
    </ul>

#### Top 40 Seasons, Weighted

In [232]:
# sort dataframe by 3PAd
tpw=tp.sort_values('3PAd/w', ascending=False)

# Display top 40 3-point shooting weighted seasons of all-time
tpw.head(40)

,Year,Tm,Player,G,MP,PTS,3P,3PA,3P%,AM3A,EM3A,AM3P,EM3P,3PG,3PAG,3PMiG,3PAd,PPP,3PAd/w
1,2016.0,GSW,Stephen Curry,79.0,2700.0,2375.0,402.0,886.0,0.454,3.047404,1.523702,6.716418,3.358209,5.088608,11.215190,6.126582,3.429062,106.4,3.332861
2,2015.0,ATL,Kyle Korver,75.0,2418.0,911.0,221.0,449.0,0.492,5.385301,2.692650,10.941176,5.470588,2.946667,5.986667,3.040000,2.521539,105.6,2.518080
3,2013.0,GSW,Stephen Curry,78.0,2983.0,1786.0,272.0,600.0,0.453,4.971667,2.485833,10.966912,5.483456,3.487179,7.692308,4.205128,2.342906,105.8,2.323077
4,2015.0,GSW,Stephen Curry,80.0,2613.0,1900.0,286.0,646.0,0.443,4.044892,2.022446,9.136364,4.568182,3.575000,8.075000,4.500000,2.202466,105.6,2.197800
6,2016.0,LAC,J.J. Redick,75.0,2097.0,1226.0,200.0,421.0,0.475,4.980998,2.490499,10.485000,5.242500,2.666667,5.613333,2.946667,2.075563,106.4,2.027413
10,2002.0,MIL,Ray Allen,69.0,2525.0,1503.0,229.0,528.0,0.434,4.782197,2.391098,11.026201,5.513100,3.318841,7.652174,4.333333,1.880247,104.5,1.960000
7,2014.0,ATL,Kyle Korver,71.0,2408.0,850.0,185.0,392.0,0.472,6.142857,3.071429,13.016216,6.508108,2.605634,5.521127,2.915493,1.989782,106.6,1.931380
11,2012.0,NYK,Steve Novak,54.0,1020.0,477.0,133.0,282.0,0.472,3.617021,1.808511,7.669173,3.834586,2.462963,5.222222,2.759259,1.877240,104.6,1.926444
8,1997.0,CHH,Glen Rice,79.0,3362.0,2115.0,207.0,440.0,0.470,7.640909,3.820455,16.241546,8.120773,2.620253,5.569620,2.949367,1.982459,106.7,1.917975
21,2004.0,SAC,Peja Stojakovic,81.0,3264.0,1964.0,240.0,554.0,0.433,5.891697,2.945848,13.600000,6.800000,2.962963,6.839506,3.876543,1.670322,102.9,1.851037
12,2015.0,GSW,Klay Thompson,77.0,2455.0,1668.0,239.0,545.0,0.439,4.504587,2.252294,10.271967,5.135983,3.103896,7.077922,3.974026,1.841492,105.6,1.837403
5,2018.0,GSW,Stephen Curry,51.0,1631.0,1346.0,212.0,501.0,0.423,3.255489,1.627745,7.693396,3.846698,4.156863,9.823529,5.666667,2.102617,108.6,1.802235
16,2013.0,ATL,Kyle Korver,74.0,2259.0,810.0,189.0,414.0,0.457,5.456522,2.728261,11.952381,5.976190,2.554054,5.594595,3.040541,1.757503,105.8,1.743081
14,2016.0,GSW,Klay Thompson,80.0,2666.0,1771.0,276.0,650.0,0.425,4.101538,2.050769,9.659420,4.829710,3.450000,8.125000,4.675000,1.774694,106.4,1.705000
19,2005.0,PHO,Joe Johnson,82.0,3240.0,1400.0,177.0,370.0,0.478,8.756757,4.378378,18.305085,9.152542,2.158537,4.512195,2.353659,1.713339,106.1,1.688171
13,2008.0,NOH,Peja Stojakovic,77.0,2711.0,1263.0,231.0,524.0,0.441,5.173664,2.586832,11.735931,5.867965,3.000000,6.805195,3.805195,1.817646,107.5,1.684416
9,2018.0,GSW,Klay Thompson,73.0,2506.0,1461.0,229.0,520.0,0.440,4.819231,2.409615,10.943231,5.471616,3.136986,7.123288,3.986301,1.892883,108.6,1.675068
18,2014.0,GSW,Stephen Curry,78.0,2846.0,1873.0,261.0,615.0,0.424,4.627642,2.313821,10.904215,5.452107,3.346154,7.884615,4.538462,1.716863,106.6,1.633462
17,1995.0,PHI,Dana Barros,82.0,3318.0,1686.0,197.0,425.0,0.464,7.807059,3.903529,16.842640,8.421320,2.402439,5.182927,2.780488,1.737141,108.3,1.594207
28,2012.0,BOS,Ray Allen,46.0,1565.0,655.0,106.0,234.0,0.453,6.688034,3.344017,14.764151,7.382075,2.304348,5.086957,2.782609,1.544157,104.6,1.592087
22,2008.0,PHO,Steve Nash,81.0,2780.0,1371.0,179.0,381.0,0.470,7.296588,3.648294,15.530726,7.765363,2.209877,4.703704,2.493827,1.665236,107.5,1.573148
23,1996.0,WSB,Tim Legler,77.0,1775.0,726.0,128.0,245.0,0.522,7.244898,3.622449,13.867188,6.933594,1.662338,3.181818,1.519481,1.628851,107.6,1.563377
20,1996.0,ORL,Dennis Scott,82.0,3041.0,1431.0,267.0,628.0,0.425,4.842357,2.421178,11.389513,5.694757,3.256098,7.658537,4.402439,1.685303,107.6,1.527707
44,2001.0,MIL,Ray Allen,82.0,3129.0,1806.0,202.0,467.0,0.433,6.700214,3.350107,15.490099,7.745050,2.463415,5.695122,3.231707,1.379486,103.0,1.524268
30,2007.0,MIA,Jason Kapono,67.0,1767.0,730.0,108.0,210.0,0.514,8.414286,4.207143,16.361111,8.180556,1.611940,3.134328,1.522388,1.527781,106.5,1.497761
24,1996.0,SAC,Mitch Richmond*,81.0,2946.0,1872.0,225.0,515.0,0.437,5.720388,2.860194,13.093333,6.546667,2.777778,6.358025,3.580247,1.622933,107.6,1.492099
35,2015.0,LAC,J.J. Redick,78.0,2409.0,1277.0,200.0,458.0,0.437,5.259825,2.629913,12.045000,6.022500,2.564103,5.871795,3.307692,1.495085,105.6,1.491692
31,2005.0,MIA,Damon Jones,82.0,2576.0,955.0,225.0,521.0,0.432,4.944338,2.472169,11.448889,5.724444,2.743902,6.353659,3.609756,1.525915,106.1,1.490476
32,2006.0,PHO,Raja Bell,79.0,2959.0,1162.0,197.0,446.0,0.442,6.634529,3.317265,15.020305,7.510152,2.493671,5.645570,3.151899,1.522553,106.2,1.485418
37,2015.0,NOP,Eric Gordon,61.0,2018.0,818.0,141.0,315.0,0.448,6.406349,3.203175,14.312057,7.156028,2.311475,5.163934,2.852459,1.484295,105.6,1.481311
29,2014.0,DAL,Jose Calderon,81.0,2468.0,925.0,191.0,425.0,0.449,5.807059,2.903529,12.921466,6.460733,2.358025,5.246914,2.888889,1.536365,106.6,1.480864
26,1989.0,SEA,Dale Ellis,82.0,3190.0,2253.0,162.0,339.0,0.478,9.410029,4.705015,19.691358,9.845679,1.975610,4.134146,2.158537,1.563559,107.8,1.470220
33,2006.0,SEA,Ray Allen,78.0,3022.0,1955.0,269.0,653.0,0.412,4.627871,2.313936,11.234201,5.617100,3.448718,8.371795,4.923077,1.510375,106.2,1.455308
15,2017.0,GSW,Stephen Curry,79.0,2638.0,1999.0,324.0,789.0,0.411,3.343473,1.671736,8.141975,4.070988,4.101266,9.987342,5.886076,1.762935,108.8,1.437570
25,2017.0,TOT,Kyle Korver,67.0,1753.0,678.0,162.0,359.0,0.451,4.883008,2.441504,10.820988,5.410494,2.417910,5.358209,2.940299,1.598559,108.8,1.424000
34,1997.0,IND,Reggie Miller*,81.0,2966.0,1751.0,229.0,536.0,0.427,5.533582,2.766791,12.951965,6.475983,2.827160,6.617284,3.790123,1.497453,106.7,1.420840
55,2003.0,MIL,Michael Redd,82.0,2316.0,1241.0,182.0,416.0,0.438,5.567308,2.783654,12.725275,6.362637,2.219512,5.073171,2.853659,1.304199,103.6,1.402732
58,2004.0,SEA,Brent Barry,59.0,1803.0,635.0,114.0,252.0,0.452,7.154762,3.577381,15.815789,7.907895,1.932203,4.271186,2.338983,1.288705,102.9,1.401559
60,1999.0,MIL,Dell Curry,42.0,864.0,423.0,69.0,145.0,0.476,5.958621,2.979310,12.521739,6.260870,1.642857,3.452381,1.809524,1.284852,102.2,1.400238
62,2001.0,SEA,Brent Barry,67.0,1778.0,589.0,109.0,229.0,0.476,7.764192,3.882096,16.311927,8.155963,1.626866,3.417910,1.791045,1.273258,103.0,1.360149

It's an interesting comparison. As expected, players from earlier eras, before the 3-point shoot took over, move up the list. Players from higher scoring eras, like the last couple of years, however, move down the list. Consider Steph Curry's drop from 15 to 34. Was his 3-point season not as good because the whole league was better at shooting 3s?

#### 2018 League Leaders

We can check the league leaders for any given year. Note that for a particular year, weighted and unweighted will provide the same order.

In [146]:
# Create 2018 dataframe
tp_2018 = tp[tp['Year']==2018.0]

# Show top 20 3PAd
tp_2018.head(20)

# Note that weighted v unweighted won't matter as it's the same year

,Year,Tm,Player,G,MP,PTS,3P,3PA,3P%,3PG,3PAG,3PMiG,3PAd,3PNG/C,seasons
5,2018.0,GSW,Stephen Curry,51.0,1631.0,1346.0,212.0,501.0,0.423,4.156863,9.823529,5.666667,2.102617,-52240.653333,8.0
9,2018.0,GSW,Klay Thompson,73.0,2506.0,1461.0,229.0,520.0,0.440,3.136986,7.123288,3.986301,1.892883,-54194.955556,7.0
36,2018.0,UTA,Joe Ingles,82.0,2578.0,940.0,204.0,464.0,0.440,2.487805,5.658537,3.170732,1.491269,-48359.591111,4.0
50,2018.0,PHI,J.J. Redick,70.0,2116.0,1198.0,193.0,460.0,0.420,2.757143,6.571429,3.814286,1.335797,-47970.422222,11.0
56,2018.0,CLE,Kyle Korver,73.0,1574.0,672.0,164.0,376.0,0.436,2.246575,5.150685,2.904110,1.303579,-39191.875556,16.0
66,2018.0,DET,Reggie Bullock,62.0,1732.0,698.0,125.0,281.0,0.445,2.016129,4.532258,2.516129,1.264941,-29282.364444,2.0
76,2018.0,GSW,Kevin Durant,68.0,2325.0,1792.0,173.0,413.0,0.419,2.544118,6.073529,3.529412,1.222215,-43069.937778,10.0
77,2018.0,SAC,Buddy Hield,80.0,2024.0,1079.0,176.0,408.0,0.431,2.200000,5.100000,2.900000,1.217347,-42533.226667,3.0
91,2018.0,DET,Anthony Tolliver,79.0,1757.0,703.0,159.0,365.0,0.436,2.012658,4.620253,2.607595,1.161657,-38045.911111,11.0
97,2018.0,OKC,Paul George,79.0,2891.0,1734.0,244.0,608.0,0.401,3.088608,7.696203,4.607595,1.143080,-63437.671111,7.0
99,2018.0,BOS,Kyrie Irving,60.0,1931.0,1466.0,166.0,407.0,0.408,2.766667,6.783333,4.016667,1.140719,-42457.684444,7.0
123,2018.0,TOR,Kyle Lowry,78.0,2510.0,1267.0,238.0,596.0,0.399,3.051282,7.641026,4.589744,1.089338,-62189.164444,11.0
124,2018.0,WAS,Otto Porter,77.0,2432.0,1134.0,138.0,313.0,0.441,1.792208,4.064935,2.272727,1.086401,-32620.715556,4.0
140,2018.0,CLE,Kevin Love,59.0,1651.0,1039.0,137.0,330.0,0.415,2.322034,5.593220,3.271186,1.062893,-34417.933333,8.0
149,2018.0,IND,Darren Collison,69.0,2018.0,855.0,96.0,205.0,0.468,1.391304,2.971014,1.579710,1.038238,-21348.155556,9.0
163,2018.0,DET,Tobias Harris,48.0,1563.0,868.0,113.0,276.0,0.409,2.354167,5.750000,3.395833,0.993822,-28790.653333,8.0
164,2018.0,TOT,Tobias Harris,80.0,2668.0,1486.0,183.0,445.0,0.411,2.287500,5.562500,3.275000,0.991714,-46417.288889,8.0
199,2018.0,BRK,Joe Harris,78.0,1975.0,846.0,150.0,358.0,0.419,1.923077,4.589744,2.666667,0.925113,-37334.115556,3.0
216,2018.0,MIA,Wayne Ellington,77.0,2041.0,864.0,227.0,579.0,0.392,2.948052,7.519481,4.571429,0.907929,-60427.946667,9.0
217,2018.0,SAC,George Hill,43.0,1143.0,441.0,58.0,128.0,0.453,1.348837,2.976744,1.627907,0.904790,-13335.404444,11.0

The Golden State Warriors dominate the list. What about the Houston Rockets? They have the reputation of being a great 3-point shooting team. Let's make a comparison.

#### Warriors v Rockets

In [147]:
# Create 2018 dataframe for GSW and HOU
tp_2018_GSW_HOU = tp_2018[(tp_2018['Tm']=='GSW') | (tp_2018['Tm']=='HOU')]

# Display dataframe
tp_2018_GSW_HOU

,Year,Tm,Player,G,MP,PTS,3P,3PA,3P%,3PG,3PAG,3PMiG,3PAd,3PNG/C,seasons
5,2018.0,GSW,Stephen Curry,51.0,1631.0,1346.0,212.0,501.0,0.423,4.156863,9.823529,5.666667,2.102617,-52240.653333,8.0
9,2018.0,GSW,Klay Thompson,73.0,2506.0,1461.0,229.0,520.0,0.440,3.136986,7.123288,3.986301,1.892883,-54194.955556,7.0
76,2018.0,GSW,Kevin Durant,68.0,2325.0,1792.0,173.0,413.0,0.419,2.544118,6.073529,3.529412,1.222215,-43069.937778,10.0
639,2018.0,HOU,Chris Paul,58.0,1847.0,1081.0,144.0,379.0,0.380,2.482759,6.534483,4.051724,0.551638,-39568.502222,13.0
675,2018.0,HOU,Ryan Anderson,66.0,1725.0,617.0,131.0,339.0,0.386,1.984848,5.136364,3.151515,0.533513,-35385.813333,9.0
856,2018.0,HOU,James Harden,72.0,2551.0,2191.0,265.0,722.0,0.367,3.680556,10.027778,6.347222,0.458127,-75406.484444,9.0
1200,2018.0,HOU,Trevor Ariza,67.0,2269.0,782.0,170.0,462.0,0.368,2.537313,6.895522,4.358209,0.334253,-48250.506667,9.0
1277,2018.0,GSW,Nick Young,80.0,1393.0,581.0,123.0,326.0,0.377,1.537500,4.075000,2.537500,0.311654,-34037.764444,11.0
1658,2018.0,HOU,P.J. Tucker,82.0,2281.0,502.0,115.0,310.0,0.371,1.402439,3.780488,2.378049,0.217306,-32373.088889,7.0
1831,2018.0,HOU,Eric Gordon,69.0,2154.0,1243.0,218.0,608.0,0.359,3.159420,8.811594,5.652174,0.178309,-63515.671111,9.0
2199,2018.0,HOU,Luc Mbah a Moute,61.0,1564.0,460.0,63.0,173.0,0.364,1.032787,2.836066,1.803279,0.105114,-18069.804444,1.0
4550,2018.0,GSW,Andre Iguodala,64.0,1622.0,384.0,33.0,117.0,0.282,0.515625,1.828125,1.312500,-0.382569,-12249.440000,14.0
4856,2018.0,GSW,Draymond Green,70.0,2287.0,773.0,77.0,256.0,0.301,1.100000,3.657143,2.557143,-0.559830,-26787.808889,5.0

Golden State is at the top and bottom, with Houston dominating the middle. To clarify which team is the best at shooting 3's, we can sum 3Pave.

In [148]:
tp_2018_GSW_HOU.groupby('Tm')['3PAd'].sum()

Tm
GSW    4.586971
HOU    2.378259
Name: 3PAd, dtype: float64

Golden State is the clear winner. But how does this Warriors team rank historically?

#### Best 3-Point Shooting Teams of All-Time

In [235]:
tp_teams = tp[tp['Tm'] != 'TOT']

tp_teams = tp_teams.groupby(['Tm','Year'])['3PAd'].sum().sort_values(ascending=False)

tp_teams.head(25)

Tm   Year
GSW  2016.0    6.374410
     2018.0    4.586971
     2015.0    4.250061
PHO  2006.0    4.203874
     2010.0    3.986143
CHH  1997.0    3.874711
PHO  2007.0    3.837297
MIA  2013.0    3.747401
GSW  2013.0    3.730750
SAS  2014.0    3.441617
GSW  2017.0    3.325918
SEA  2001.0    3.262487
ORL  2009.0    3.211291
SAS  2017.0    3.171001
WSB  1996.0    3.165538
SAC  2004.0    3.157775
CHH  1995.0    3.153557
ORL  2008.0    3.075983
SAS  2011.0    3.046533
BOS  2018.0    3.010927
CHI  1996.0    2.898952
PHO  2008.0    2.894175
IND  2009.0    2.869539
DET  1996.0    2.868601
GSW  2011.0    2.853393
Name: 3PAd, dtype: float64

It's no surprise that the Warriors take the top 3 spots, and that the Suns are close behind. Both teams are responsible for the meteoric rise of the 3-pointer. The Charlotte Hornets from 1997 are a surprise #7, although they had Dell Curry and Glen Rice, two of the all-time greats. Also, 4 of the last 5 NBA champions made the top 10.

#### Best 3-Point Shooting Teams of All-Time, Weighted

In [203]:
tp_teams = tpw[tpw['Tm'] != 'TOT']

tp_teams = tp_teams.groupby(['Tm','Year'])['3PAd/w'].sum().sort_values(ascending=False)

tp_teams.head(25)

Tm   Year
GSW  2016.0    6.082173
     2015.0    4.233746
PHO  2006.0    4.041437
CHH  1997.0    3.696312
MIA  2013.0    3.687041
GSW  2013.0    3.683147
SAC  2004.0    3.671448
SEA  2001.0    3.630873
PHO  2007.0    3.620564
GSW  2018.0    3.590728
PHO  2010.0    3.510403
SAS  2014.0    3.200167
     2001.0    3.156882
SEA  2004.0    3.061071
MIL  2003.0    2.907489
WSB  1996.0    2.904475
ORL  2012.0    2.877611
IND  2000.0    2.839553
SEA  1998.0    2.818695
SAS  2011.0    2.691125
CHH  1995.0    2.678011
NOP  2015.0    2.654854
SAS  2012.0    2.639373
DAL  2003.0    2.584842
CHI  1996.0    2.560414
Name: 3PAd/w, dtype: float64

Notice the inclusion of more Spurs teams, a Reggie Miller Pacer team that made the finals, and a Ray Allen Bucks team. Also, the Warriors team that won an NBA record 73 games is still way ahead of the rest.

#### Best of the 90s

In [150]:
tp_before2000 = tp[(tp['Year']<2000) & (tp['Year']>1989)]

tp_before2000.head(25)

,Year,Tm,Player,G,MP,PTS,3P,3PA,3P%,3PG,3PAG,3PMiG,3PAd,3PNG/C,seasons
8,1997.0,CHH,Glen Rice,79.0,3362.0,2115.0,207.0,440.0,0.470,2.620253,5.569620,2.949367,1.982459,-45817.577778,11.0
17,1995.0,PHI,Dana Barros,82.0,3318.0,1686.0,197.0,425.0,0.464,2.402439,5.182927,2.780488,1.737141,-44264.444444,11.0
20,1996.0,ORL,Dennis Scott,82.0,3041.0,1431.0,267.0,628.0,0.425,3.256098,7.658537,4.402439,1.685303,-65479.515556,9.0
23,1996.0,WSB,Tim Legler,77.0,1775.0,726.0,128.0,245.0,0.522,1.662338,3.181818,1.519481,1.628851,-25473.844444,2.0
24,1996.0,SAC,Mitch Richmond*,81.0,2946.0,1872.0,225.0,515.0,0.437,2.777778,6.358025,3.580247,1.622933,-53679.244444,12.0
34,1997.0,IND,Reggie Miller*,81.0,2966.0,1751.0,229.0,536.0,0.427,2.827160,6.617284,3.790123,1.497453,-55883.631111,18.0
40,1996.0,CHI,Steve Kerr,82.0,1919.0,688.0,122.0,237.0,0.515,1.487805,2.890244,1.402439,1.412987,-24647.506667,12.0
48,1996.0,NYK,Hubert Davis,74.0,1773.0,789.0,127.0,267.0,0.476,1.716216,3.608108,1.891892,1.340571,-27798.773333,9.0
49,1997.0,SAC,Mitch Richmond*,81.0,3125.0,2095.0,204.0,477.0,0.428,2.518519,5.888889,3.370370,1.340291,-49731.640000,12.0
60,1999.0,MIL,Dell Curry,42.0,864.0,423.0,69.0,145.0,0.476,1.642857,3.452381,1.809524,1.284852,-15096.622222,14.0
63,1998.0,CLE,Wesley Person,82.0,3198.0,1204.0,192.0,447.0,0.430,2.341463,5.451220,3.109756,1.271052,-46601.373333,10.0
64,1995.0,ORL,Dennis Scott,62.0,1499.0,802.0,150.0,352.0,0.426,2.419355,5.677419,3.258065,1.265990,-36700.862222,9.0
71,1996.0,DET,Allan Houston,82.0,3072.0,1617.0,191.0,447.0,0.427,2.329268,5.451220,3.121951,1.234467,-46604.373333,11.0
75,1996.0,WSB,Brent Price,81.0,2042.0,810.0,139.0,301.0,0.462,1.716049,3.716049,2.000000,1.226147,-31351.208889,3.0
84,1995.0,CHH,Dell Curry,69.0,1718.0,935.0,154.0,361.0,0.427,2.231884,5.231884,3.000000,1.173805,-37638.742222,14.0
85,1997.0,DET,Joe Dumars*,79.0,2923.0,1158.0,166.0,384.0,0.432,2.101266,4.860759,2.759494,1.173644,-40030.213333,8.0
90,1998.0,SEA,Dale Ellis,79.0,1939.0,934.0,127.0,274.0,0.464,1.607595,3.468354,1.860759,1.162206,-28537.568889,16.0
104,1997.0,MIA,Voshon Lenard,73.0,2111.0,897.0,183.0,442.0,0.414,2.506849,6.054795,3.547945,1.130183,-46100.662222,7.0
111,1990.0,CHI,Craig Hodges,63.0,1055.0,407.0,87.0,181.0,0.481,1.380952,2.873016,1.492063,1.110612,-18842.142222,10.0
112,1996.0,CHH,Glen Rice,79.0,3142.0,1710.0,171.0,403.0,0.424,2.164557,5.101266,2.936709,1.109682,-42020.515556,11.0
115,1999.0,SEA,Dale Ellis,48.0,1232.0,495.0,94.0,217.0,0.433,1.958333,4.520833,2.562500,1.103612,-22620.662222,16.0
116,1997.0,DET,Terry Mills,79.0,1997.0,857.0,175.0,415.0,0.422,2.215190,5.253165,3.037975,1.101263,-43275.022222,6.0
117,1995.0,IND,Reggie Miller*,81.0,2665.0,1588.0,195.0,470.0,0.415,2.407407,5.802469,3.395062,1.098167,-49019.844444,18.0
118,1998.0,IND,Reggie Miller*,81.0,2795.0,1578.0,164.0,382.0,0.429,2.024691,4.716049,2.691358,1.096651,-39825.128889,18.0
126,1995.0,NYK,Hubert Davis,82.0,1697.0,820.0,131.0,288.0,0.455,1.597561,3.512195,1.914634,1.085834,-30003.160000,9.0

The big 90s shooters. Glen Rice, Reggie Miller, Dell Curry, Dennis Scott, Mitch Ritchmond, Dale Ellis. What about the 80s?

#### Best of the 80s

In [151]:
tp_before90 = tp[tp['Year']<1990]

tp_before90.head(25)

,Year,Tm,Player,G,MP,PTS,3P,3PA,3P%,3PG,3PAG,3PMiG,3PAd,3PNG/C,seasons
26,1989.0,SEA,Dale Ellis,82.0,3190.0,2253.0,162.0,339.0,0.478,1.975610,4.134146,2.158537,1.563559,-35292.813333,16.0
110,1988.0,TOT,Craig Hodges,66.0,1445.0,629.0,86.0,175.0,0.491,1.303030,2.651515,1.348485,1.110623,-18211.888889,10.0
192,1988.0,MIL,Craig Hodges,43.0,983.0,397.0,55.0,118.0,0.466,1.279070,2.744186,1.465116,0.940934,-12288.982222,10.0
271,1988.0,BOS,Danny Ainge,81.0,3018.0,1270.0,148.0,357.0,0.415,1.827160,4.407407,2.580247,0.829806,-37234.573333,11.0
350,1989.0,CLE,Mark Price,75.0,2728.0,1414.0,93.0,211.0,0.441,1.240000,2.813333,1.573333,0.750745,-21990.408889,10.0
358,1988.0,CLE,Mark Price,80.0,2626.0,1279.0,72.0,148.0,0.486,0.900000,1.850000,0.950000,0.747469,-15404.248889,10.0
370,1987.0,BOS,Danny Ainge,71.0,2499.0,1053.0,85.0,192.0,0.443,1.197183,2.704225,1.507042,0.737450,-20009.106667,11.0
384,1989.0,CHI,Craig Hodges,49.0,1112.0,490.0,71.0,168.0,0.423,1.448980,3.428571,1.979592,0.728348,-17518.093333,10.0
386,1986.0,MIL,Craig Hodges,66.0,1739.0,716.0,73.0,162.0,0.451,1.106061,2.454545,1.348485,0.727600,-16878.840000,10.0
436,1989.0,MIA,Jon Sundvold,68.0,1338.0,709.0,48.0,92.0,0.522,0.705882,1.352941,0.647059,0.689723,-9565.884444,5.0
503,1988.0,SEA,Dale Ellis,75.0,2790.0,1938.0,107.0,259.0,0.413,1.426667,3.453333,2.026667,0.635275,-27014.435556,16.0
551,1989.0,TOT,Craig Hodges,59.0,1204.0,529.0,75.0,180.0,0.417,1.271186,3.050847,1.779661,0.593627,-18772.600000,10.0
575,1988.0,BOS,Larry Bird*,76.0,2965.0,2275.0,98.0,237.0,0.414,1.289474,3.118421,1.828947,0.577170,-24719.506667,9.0
600,1989.0,SAC,Harold Pressley,80.0,2257.0,981.0,119.0,295.0,0.403,1.487500,3.687500,2.200000,0.570631,-30777.955556,3.0
723,1989.0,NYK,Trent Tucker,81.0,1824.0,687.0,118.0,296.0,0.399,1.456790,3.654321,2.197531,0.513519,-30886.497778,8.0
739,1980.0,BOS,Chris Ford,73.0,2115.0,816.0,70.0,164.0,0.427,0.958904,2.246575,1.287671,0.505627,-17098.924444,2.0
748,1986.0,BOS,Larry Bird*,82.0,3113.0,2115.0,82.0,194.0,0.423,1.000000,2.365854,1.365854,0.503025,-20229.191111,9.0
770,1989.0,IND,Reggie Miller*,74.0,2536.0,1181.0,98.0,244.0,0.402,1.324324,3.297297,1.972973,0.492932,-25458.302222,18.0
787,1987.0,NYK,Trent Tucker,70.0,1691.0,795.0,68.0,161.0,0.422,0.971429,2.300000,1.328571,0.486815,-16788.297778,8.0
801,1988.0,PHI,Gerald Henderson,69.0,1436.0,581.0,67.0,159.0,0.421,0.971014,2.304348,1.333333,0.480984,-16580.213333,8.0
808,1989.0,PHI,Hersey Hawkins,79.0,2577.0,1196.0,71.0,166.0,0.428,0.898734,2.101266,1.202532,0.478480,-17307.008889,12.0
837,1988.0,TOT,Gerald Henderson,75.0,1505.0,595.0,69.0,163.0,0.423,0.920000,2.173333,1.253333,0.466216,-16996.382222,8.0
847,1986.0,CLE,World B.,75.0,2535.0,1754.0,71.0,169.0,0.420,0.946667,2.253333,1.306667,0.461782,-17623.635556,3.0
850,1987.0,LAL,Byron Scott,82.0,2729.0,1397.0,65.0,149.0,0.436,0.792683,1.817073,1.024390,0.460269,-15530.791111,13.0
880,1989.0,PHO,Eddie Johnson,70.0,2043.0,1504.0,71.0,172.0,0.413,1.014286,2.457143,1.442857,0.449534,-17940.262222,13.0

Craig Hodges. Mark Price. Larry Bird. More Dale Ellis. The first 3-point shot was made in 1979, so we can't go back much further.

#### Career Totals

How about the most points gained by shooting 3's over their entire career?

In [152]:
# Create new category, use totals instead of per game
tp['3PNG/C'] = tp['3P'] * (3 - ev) - (tp['3PA'] - tp['3P']) * ev

# group by player, and sum over their career
tp_player = tp.groupby('Player')['3PNG/C'].sum()

# order from the top
tp_player = tp_player.sort_values(ascending=False)

# display top 25
tp_player.head(25)

Player
Kyle Korver         1245.264622
Stephen Curry       1199.245644
Ray Allen           1119.032000
Steve Nash           890.282311
Reggie Miller*       834.531467
Klay Thompson        775.436578
J.J. Redick          677.701689
Dale Ellis           649.176044
Chauncey Billups     642.698400
Peja Stojakovic      603.778489
Glen Rice            598.480000
Mike Miller          589.125644
Brent Barry          551.976622
Wesley Person        514.299778
Hubert Davis         506.109956
Rashard Lewis        505.718044
Dirk Nowitzki        501.380489
Jason Terry          494.620933
Allan Houston        479.477822
Dell Curry           478.675511
Steve Kerr           478.481111
Jose Calderon        467.637333
Dana Barros          455.774578
Mike Bibby           440.990578
Ben Gordon           436.718933
Name: 3PNG/C, dtype: float64

An outstanding list. The only players on this list who are not retired, or at the end of their careers are Steph Curry and Klay Thompson. It's amazing to think that Steph Curry has already surpassed Ray Allen. How about comparing this list to the traditional 3 pointers made?

In [153]:
tp.groupby('Player')['3P'].sum().sort_values(ascending=False).head(25)

Player
Ray Allen           3096.0
Reggie Miller*      2560.0
Tim Hardaway        2289.0
Kyle Korver         2286.0
Vince Carter        2284.0
Jason Terry         2243.0
Jamal Crawford      2234.0
Paul Pierce         2128.0
Joe Johnson         2087.0
Stephen Curry       2074.0
Jason Kidd          2072.0
Chauncey Billups    2057.0
Dirk Nowitzki       1904.0
J.R. Smith          1886.0
Rashard Lewis       1770.0
Kobe Bryant         1770.0
Jason Richardson    1749.0
Dale Ellis          1707.0
Peja Stojakovic     1669.0
James Harden        1647.0
Steve Nash          1628.0
LeBron James        1616.0
Mike Bibby          1588.0
Nick Van            1567.0
Klay Thompson       1557.0
Name: 3P, dtype: float64

Most fans would agree that Kobe Bryant, Lebron James and Nick Van Exel are not as good at 3-pointers as Glen Rice, Del Curry and Steve Kerr. Finally, we have a statistic to prove it.

#### Career Averages

In [160]:
#tp['3PAv'] = tp.groupby('Player')['3PAd'].sum()/tp.groupby('Player')['3PAd'].count()

# count number of seasons
tp['seasons'] = tp.groupby('Player')['3PAd'].transform('count')

# require at least 4 seasons
tp_seasons = tp[tp['seasons']>=4]

# compute average, divide sum of player's 3Pave by the number of seasons
tp_av = tp_seasons.groupby('Player')['3PAd'].sum()/tp_seasons.groupby('Player')['3PAd'].count()

# sort and display the top 25
tp_av.sort_values(ascending=False).head(25)

Player
Stephen Curry      2.001557
Klay Thompson      1.437085
Kyle Korver        1.079106
J.J. Redick        0.866753
C.J. McCollum      0.846514
Ray Allen          0.831735
Hubert Davis       0.831196
Steve Novak        0.787593
Steve Nash         0.739509
Peja Stojakovic    0.739333
Wesley Person      0.696190
Glen Rice          0.692731
Joe Ingles         0.674871
Anthony Morrow     0.671677
Bradley Beal       0.659325
Troy Daniels       0.658564
Brent Barry        0.640704
Dennis Scott       0.626870
Danny Green        0.622657
Raja Bell          0.610438
Mike Miller        0.595527
Daniel Gibson      0.593131
Allan Houston      0.593099
Jose Calderon      0.588219
Reggie Miller*     0.587470
Name: 3PAd, dtype: float64

Absolutely incredible. Steph Curry doubles everyone on the list except for his teammate Klay Thompson, and Kyle Korver. I think we can safely answer the question posed at the beginning of this notebook. There is ample statistical evidence that Stephen Curry is the greatest 3-point shooter of all-time.

## Conclusion

3PNG is a fun, informative and comparative statistic that uses objective criteria to rank 3-point shooters. It is a single metric that combines the number of 3-pointers made with a players 3-point percentage. It stands up well to general expectations about who the best 3-point shooters are in reality.